#main {
    background-image: url("digital_camo.jpg");
    background-repeat: repeat repeat;
}

#title {
    text-align: center;
    color: #ffff00;  
    font-size: 50pt;
    font-weight: bold;
    opacity: 1;
}

#new {
    text-align: center;
    color: #ffff00;  
    font-size: 35pt;
    font-weight: bold;
    text-decoration: underline;
}
